/* pies */
.switch {
    position: absolute;
    width: 70px;
    height: 34px;
    background:linear-gradient(to bottom right, rgb(163, 230, 104),rgb(109, 161, 62));
    border-radius: 34px;
    background: transparent;
    
  }
  .background{
    content: "";
    z-index: -1;
    transition: 4s;
    display: inline-block;
    border-radius: 34px;
    width: 70px;
    height: 50px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .rounded-bg-default{
    background: linear-gradient(to bottom right, rgb(163, 230, 104),rgb(109, 161, 62));;
    transform: rotate(45deg) scale(1.45);
    transition: 4s;
  }
  .rounded-bg::after{
    background: linear-gradient(to bottom left, rgb(163, 230, 104),rgb(109, 161, 62));;
    transform: rotate(45deg) scale(1.45);
    transition: 4s;
    
    /* background:linear-gradient(to bottom right, rgb(163, 230, 104),rgb(109, 161, 62)); */
    
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  
  input:hover + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    
    
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }