body{
  margin:0;
  height:100%;
  background:url(background.jpg);
  background-size:cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  
}
.page{
  
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.074);
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    border: solid transparent 1.5px;
    position: relative;
    top:75px;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    transition: 0.15s;
}
.button:hover{
  border: solid rgb(161, 161, 161) 1px;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.toggle-section{
  
  position: relative;
 height: 100px;
 width: 100%;
  background-color: rgba(0, 255, 255, 0.229);
  
}

.switch-div{
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.title-div{
  display: flex;
  align-items: center;
 justify-content: center;
}

  .cards-section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(144, 238, 144, 0.468);
  }
  
  .card {
    position: relative;
    background-image: linear-gradient(
      to right,
      hsl(211, 100%, 50%),
      hsl(179, 100%, 30%)
      );
      z-index: 1;
      text-align: center;
      
    box-shadow: 0px 0px 30px 0px gray;
      
      /* -webkit-transition: background 1s ease-out;  
      -moz-transition: background 1s ease-out;  
      -o-transition: background 1s ease-out;  
      transition: background 1s ease-out;   */
    transition-duration: 0.25s;
    margin:3px;
    width: 30vh;
    
    padding-bottom: 0.5%;
    margin-top: 4%;
    
    
    border: solid black 3px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }
 
  .card:hover{
    
    scale: 1.02;
    /* transition: 0.5s; */
  }
   .card p{
    font-size: calc(1vh + 10px);
  }
  .price{
    
    margin: 0;
    font-size-adjust: 1.5;
    font-weight: bold;
    margin-bottom: 5%;
  }
  .small{
    display: inline;
    font-size-adjust: 1.2;
  }
  .br{
    content: "";
    
    width: 75%;
    border-bottom: darkgray 1px solid;
  }
  .card::before {
    border-radius: 13px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      hsl(269, 60%, 72%),
      hsl(259, 32%, 46%)
    );
    z-index: -2;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .card.blue::before {
    opacity: 1;
}
  
 

@media screen and (max-width:950px){
  .cards-section{
    margin-top: 5vh;
    margin-bottom:10vh;
    gap:10px;
    flex-direction: column;
    
    
  }

  .card{
    height:425px;
    max-width: 450px;
    width:85vw;
  }
  .card-2{
    
  }
  .card:hover{
    scale:none;
  }
  .button{
  border: solid rgb(161, 161, 161) 1.5px;
  }
  .page{
    margin-top: 2%;
    height:100%;
    width:100%;
    justify-content:space-evenly;
    
    
  }
  .card-visible{
    transform: scale(1.05);
  }
}
button{
  width: 80%;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
 
}
  /* Button 3 */
#button-3 .knobs:before
{
    
    content: '\2039';
    letter-spacing: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 0.15;
    padding: 9px 4px;
    background-color: hsl(211, 100%, 50%);
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before
{
    content: '\203A';
    letter-spacing: -2px;
    left: 42px;
    background-color: hsl(259, 46%, 59%);
}

#button-3 .checkbox:checked ~ .layer
{
  background-color: #fcebeb;
}

#button-3 .checkbox:checked ~ .cards-section .card-2 {
  background-color: blue;
  background: blue;
}

.v{
  
  right: 5px;
  position:fixed;
  bottom:0%;
  
}